<%= form_for(current_user.favoritepost_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :micropost_id, regist_favorite.id %></div>
  <%= f.submit t('microposts.regist_favorite'), class: "btn btn-primary" %>
<% end %>
