<% #リツイート自体（ここではrelease_repostのこと）はモデルの関連で一緒に削除される. %>
<%= form_for(destroy_repost_relationship,
             html: { method: :delete }) do |f| %>
  <div>
    <%= hidden_field_tag :base_post_id, base_post.id %>

    <% #javascriptで動的にフォームを切り替える場所を指定するため %>
    <% #Ajaxでリツイート処理は行わないのでコメントアウト %>
    <%#= hidden_field_tag :displayed_post_id, displayed_post.id %> 
  </div>
  <%= f.submit "Release Repost", class: "btn" %>
<% end %>
